
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 1px solid tomato;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

li::marker{
  color: transparent;
}

a{
  text-decoration: none;
  color: inherit;
}

/*=======================utils*/

.flex{
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

@media (max-width:620px) {
  .grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.container{
  max-width: 1152px;
  margin-inline: auto;
  padding-inline: 20px;
}

.btn{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.02px;
   border: 1px solid rgba(255, 255, 255, 0.3 );
   color: white;
   cursor: pointer;
   background-color: transparent;
   padding: 17px 33px;
   border-radius: 80px ;
   -webkit-border-radius: 80px ;
   -moz-border-radius: 80px ;
   -ms-border-radius: 80px ;
   -o-border-radius: 80px ;
   transition: all 0.7s ease;
   -webkit-transition: all 0.7s ease;
   -moz-transition: all 0.7s ease;
   -ms-transition: all 0.7s ease;
   -o-transition: all 0.7s ease;
}

.btn:hover{
  background-color: hsla(177, 97%, 15%, 1);
  border-color: tomato;
}

/*===================== header */

.header--position{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__container{
  padding-block: 17px;
  align-items: center;
  justify-content: space-between;
}

.nav{
  align-items: center;
  padding-inline-end: 16px;
}

@media (max-width:730px) {
  .nav{
    display: none;
  }
}

.nav__list{
  --gap: 51px;
  align-items: center;
  margin-inline-end: 32px;
  gap: var(--gap);
}

.nav__link{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  transition: color 0.6s ease;
  -webkit-transition: color 0.6s ease;
  -moz-transition: color 0.6s ease;
  -ms-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
}

.nav__link:hover{
  color: hsla(176, 100%, 20%, 1);
}




/*===============  hearo */

.hero__container{
  margin-bottom: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-block-start: 190px;
  padding-block-end: 40px;
  min-height: 776px;
  background-image: url(./images/hearo/hearo-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.hero__content{
  grid-column: 6 span;
}

.hero__title{
  font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 44px;
letter-spacing: 1.2px;
color: #FFFFFF;
margin-block-end: 29px;
}

.hero__descr{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-block-end: 29px;
}

.hero__subtitle{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #FFFFFF;
margin-block-end: 15px;
}

.hero__item{
  grid-column: 2 span;
}

.hero__link{
  display: block;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding-block-start: 17px;
  border-top: 1px solid  rgba(255, 255, 255, 0.6);
  transition: all .9s ease;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
}

.hero__link:hover{
  border-top: 5px solid hsla(176, 100%, 20%, 1);
  color: #f4a261;
}

.hero__bottom-container{
  margin-top: auto;
  width: 100%;
}

/*================= steps */

.steps{
  padding-block-start: 120px;
  padding-block-end: 120px;
}

.steps__title{
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #003331;
  max-width: 720px;
  margin-inline: auto;
  margin-block-end: 57px;
}

.steps__list{
  counter-reset: steps;
  justify-content: space-between;
  max-width: 758px;
  margin-inline: auto;
}

.steps__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__item::before{
  counter-increment: steps;
  content:  counter(steps);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: hsla(176, 100%, 20%, 1);
  aspect-ratio: 1/1;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-block-end: 19px;
}

.steps__item--line{
  position: relative;
  flex-grow: 1;
}

.steps__item--line::before{
  display: none;
}

.steps__item--line::after{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: rgba(53, 83, 98, 0.2);
  margin-block-start: -35px;
}

.steps__descr{
  font-family: 'Public Sans';
  max-width: 142px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(53, 83, 98, 0.8);
}

@media (max-width:470px) {
  .steps__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .steps__item--line{
    display: none;
  }
}

/* ====================== approach */

.approach__top{
  padding-block: 80px;
  background-color: hsla(180, 7%, 97%, 1);
}

.approach__title{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
color: #003331;
margin-block-end: 13px;
}

.approach__left{
  grid-column: 5 span;
  padding-block-start: 33px;
}

.approach__right{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  grid-column: 7 / 6 span;
}



.approach__descr{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: rgba(53, 83, 98, 0.8);
margin-block-end: 37px;
}

.approach__btn{
  border: 1px solid rgba(53, 83, 98, 0.2);
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #00413E;
}

.approach__btn:hover{
  color: #FFFFFF;
}

.approach__bottom{
  padding-block: 24px;
}


.approach__item{
  grid-column: 2 span;
}

.approach__link{
  display: block;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(53, 83, 98, 0.8);
  padding-block-start: 17px;
  padding-inline-start: 32px;
  border-top: 1px solid  rgba(53, 83, 98, 0.3);;
  transition: all .9s ease;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  background-position: left top 15px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.approach__link--ted{
  background-image: url(./images/approach/ted.svg);
}

.approach__link--time{
  background-image: url(./images/approach/time.svg);
}

.approach__link--nut{
  background-image: url(./images/approach/ny.svg);
}

.approach__link--greethlink{
  background-image: url(./images/approach/fr.svg);
}

.approach__link--press{
  background-image: url(./images/approach/ap.svg);
}

.approach__link--scoop{
  background-image: url(./images/approach/ss.svg);
}

.approach__link:hover{
  border-top: 5px solid hsla(176, 100%, 20%, 1);
  color: #f4a261;
}

@media (max-width:1200px) {
  .approach__left{
    margin-block-end: 32px;
  }
    .approach__right{
      grid-column: 12 span;
      justify-content: left;
    }
}

@media (max-width:600px) {
    .approach__right{
      flex-wrap: wrap;
      justify-content: center;
    }
    .approach__left{
      grid-column: 1/8 span;
    }
}
@media (max-width:390px) {
  .approach__right{
    grid-column: 1/8 span;
  }
}

/*========================= info */

.info{
  position: relative;
  background-color: hsla(180, 100%, 4%, 1);
  display: flex;
  height: 680px;
}

.info::before {
  content: "";
  width: 287px;
  height: 100%;
  flex-shrink: 0;
  background-image: url("./images/info/info-bg-one.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info::after {
  content: "";
  width: 287px;
  height: 100%;
  flex-shrink: 0;
  background-image: url("./images/info/info-bg-two.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info__content{
  flex-grow: 1;
  padding-inline: 82px;
  border-inline: 1px solid hsla(176, 100%, 20%, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  margin-block-end: 21px;
}

.info__desc{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 542px;
}

@media (max-width:900px) {
  .info{
    height: auto;
    padding-block: 50px;
  }
  .info::after,
  .info::before{
    display: none;
  }
}

@media (max-width:450px) {
  .info__content{
    padding-inline: 20px;
  }
}


/*================ partners */

.partners {
padding-block: 16px;
}

.partners__container{
  align-items: center;
  gap: 6px;
}

.partners__list{
  display: flex;
  align-items: center;
  gap: 12px;
}

.partners__title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(53, 83, 98, 0.6);
}

.partners__more{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(53, 83, 98, 0.6);
}

.grafix{
  background-color: hsla(180, 5%, 96%, 1);
}

.grafix__img{
  width: 100%;
}

@media (max-width:1200px) {
    .partners__logo{
      max-width: 130px;
    }
    .partners__list{
      justify-content: space-between;
    }
    .partners__container{
      justify-content: space-between;
    }
}

@media (max-width:981px) {
  .partners__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners__container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

/*====================== information*/

.information {
  padding-block-end: 140px;
}

.information__text{
  grid-column: 6 span;
}

.information__title{
  max-width: 80%;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 38px;
  letter-spacing: 1.2px;
  color: #003331;
}

.information__list{
  grid-column: 7 / 6 span;
  display: grid;
  row-gap: 36px;
  column-gap: 48px;
  grid-template-columns: repeat(6, 1fr);
}

.information__item{
  grid-column: 3 span;
}

.information__subtitle{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #003331;
  margin-block-end: 4px;
}

.information__desc{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(53, 83, 98, 0.8);
}

@media (max-width:730px) {
  .information__text{
    grid-column: 4 span;
    margin-block-end: 20px;
  }
  .information__list{
    grid-column: 4 span;
  }
  .information__title{
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width:400px) {
  .information__item{
    grid-column: 2/4 span;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width:600px) {
  .information{
    padding-block-end: 10px;
  }
}

/* ======================= press */

.press {
  background-color: #FFFFFF;
  padding-block-start: 87px;
}

.press__top{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 33px;
}

.press__title{
font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 38px;
letter-spacing: 1.2px;
color: #003331;
}

.press__link{
  border: 1px solid rgba(53, 83, 98, 0.2);
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #00413E;
}

.press__link:hover{
  color: white;
}

.press__item{
  grid-column: 4 span;
}

.press__list{
  row-gap: 32px;
}

.press-card{
  padding-block-start: 16px;
  min-height: 145px;
  position: relative;
  border-top: 1px solid   rgba(53, 83, 98, 0.3);
}

.press-card__top{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-block-end: 11px;
}

.press-card__date{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: rgba(53, 83, 98, 0.6);
}

.press-card__author{
  margin-block: -18px;
  padding-block: 18px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(53, 83, 98, 0.6);
  padding-inline-start: 32px;
  background-position: left top 15px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.press-card__author--ted{
  background-image: url(./images/approach/ted.svg);
}

.press-card__title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #00413E;  
}
.press-card__link::after{
  content: "";
  position: absolute;
  inset: 0;
}

@media (max-width:350px) {
  .press__top{
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width:600px) {
  .press{
    padding-block-start: 20px;
  }
}

/* =================== where */

.where {
  padding-block: 155px 133px;
  background-color: hsla(180, 100%, 6%, 1);
}

.where__content{
  grid-column: 4 span;
}

.where__map{
  grid-column:  7 / 5 span;
}

.where__title{
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 1.2px;
  color: #FAFAFA;
  margin-block-end: 43px;
}

.where__descr{
  font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #FAFAFA;
margin-block-end: 37px;
}

.where__btn{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .where__content{
    margin-block-end: 20px;
  }
  .where__map{
    grid-column: 4 span;
  }
  .where{
    padding-block: 30px;
  }
}



/*================== footer */
.footer__top{
  padding-block: 110px;
}

.footer__top{
  background-color: hsla(180, 100%, 4%, 1);
}

.footer__column{
  grid-column:  2 span;
}

.footer__column:last-child{
  grid-column: 11 / 2 span;
}

.footer__title{
  position: relative;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #7D9798;  
  padding-block-end: 24px;
  margin-block-end: 24px;
}

.footer__title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 1px;
  background-color: hsla(166, 67%, 43%, 1);
}

.footer__link{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #EDECEB;  
}

.footer__bottom{
  padding-block: 40px 63px;
  background-color: hsla(180, 100%, 3%, 1);
}

.footer__bottom-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__sublist{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-end: 8px;
}

.footer__sublist-link{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
color: #E5ECEC;
}

.footer__bottom-text{
  display: flex;
  align-items: center;
}

.footer__copy{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
  color: #E5ECEC;
}

.footer__rights{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #E5ECEC;
}

@media (max-width:600px) {
  .footer__column:last-child{
    grid-column: 3/2 span;
  }
  .footer__column{
    margin-block-end: 10px;
  }

  .footer__top{
    padding-block: 20px;
  }
  
}

@media (max-width:330px) {
  .footer__column{
    grid-column: 4 span;
  }
  .footer__column:last-child{
    grid-column: 4 span;
  }
}